
/*@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
       url("../fonts/pt-sans-narrow-v11-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/pt-sans-narrow-v11-cyrillic_latin-700.woff") format("woff");
}*/

body {
  font-family: "PT Sans Narrow", sans-serif;
}
